{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">随机数生成、随机字符串生成、密码生成器</h3>

    <div class="alert alert-info" role="alert">
        该功能由JS在本地完成，您的任何输入都不会提交到服务端，请放心使用。
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="num" class="col-md-1 control-label">生成数量</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="num" value="6">
            </div>
        </div>
        <div class="form-group">
            <label for="len" class="col-md-1 control-label">长度</label>
            <div class="col-md-2">
                <input type="number" class="form-control" id="len" value="16">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1" for="charset">使用字符集</label>
            <div class="col-sm-8" id="random-charset">
                <input type="text" class="form-control" id="charset"
                       value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ~!@#$%^&*()_+"
                       spellcheck="false"/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="0123456789" checked="checked">
                        数字 0123456789
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="abcdefghijklmnopqrstuvwxyz" checked="checked">
                        小写字母 abcdefghijklmnopqrstuvwxyz
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" checked='checked'>
                        大写字母 ABCDEFGHIJKLMNOPQRSTUVWXYZ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="!@#$%^&*()_+=-" checked='checked'>
                        常用符号 ~!@#$%^&*()_+
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" id="gen-btn" class="btn btn-primary">生成</button>
            </div>
        </div>
        <div class="form-group">
            <label for="len" class="col-md-1 control-label">生成结果</label>
            <div class="col-md-10">
                {#{{ Bootstrap.textarea('result_textarea', 5)|raw }}#}
                <div class="well" id="result_textarea"></div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#random-charset :checkbox').click(function () {
            var charset = '', checked = $('#random-charset :checkbox:checked');
            for (var i = 0; i < checked.length; i++) {
                charset += checked[i].value
            }
            ;
            $('#random-charset :text').val(charset)
        })

        $('#gen-btn').click(function (e) {
            var charset = $('#random-charset :text').val(),
                len = parseInt($('#len').val(), 10),
                num = parseInt($('#num').val(), 10),
                result = '';
            for (var i = 0; i < num; i++) {
                //result += utils.genRandStrNew(len, charset) + "\r";
                res = utils.genRandStrNew(len, charset);
                result += '<li style="padding: 3px"><span contenteditable="true" spellcheck="true" style="padding: 2px 3px">' + res + '</span>'
                    + '&nbsp;&nbsp;<span class="glyphicon glyphicon-copy span-copy"></span></li>'
            }
            //$('#result_textarea').attr("rows", num + 1).val(result);
            $('#result_textarea').html('<ul>' + result + '</ul>');
            e.preventDefault();
            return false;
        })

        new ClipboardJS('.span-copy', {
            text: function (trigger) {
                return $(trigger).prev().text();
            }
        }).on('success', function (e) {
            e.clearSelection();
            swal_osc("复制成功！");
        });
        $('#gen-btn').trigger('click');
    </script>
{% endblock %}