{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">{{ current_menu[1] }}</h3>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}