{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">在线进制转换</h3>

    <div class="alert alert-info">
        js中规定安全整数的范围是-2^53~2^53，所以大于 9007199254740991 的数进制转换会存在精度问题
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="num" class="col-md-1 control-label">选择进制</label>
            <div class="col-md-10" >
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="2">
                    2进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="8">
                    8进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="10" checked>
                    10进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="16">
                    16进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="26">
                    26进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="32">
                    32进制
                </label>
                {#<label class="radio-inline">
                    <input type="radio" name="from_covert" value="36">
                    36进制
                </label>#}
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="52">
                    52进制
                </label>
                {#<label class="radio-inline">
                    <input type="radio" name="from_covert" value="58">
                    58进制
                </label>#}
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="62">
                    62进制
                </label>
                <label class="radio-inline">
                    <input type="radio" name="from_covert" value="64">
                    64进制
                </label>
                <label class="radio-inline">
                    <span>更多进制：</span>
                    <select class="selectpicker" id="from">
                        {% for x in 2..64 %}
                            <option value="{{ x }}" {% if x == 10 %}selected{% endif %}>{{ x }}进制</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">转换数字</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="number">
            </div>
            <div class="col-md-2">
                <button type="reset" class="btn btn-primary" id="convert-btn">转换</button>
            </div>
        </div>
        <hr/>
        结果
        <div class="form-group">
            <label  class="col-md-1 control-label">2进制</label>
            <div class="col-md-4">
                <input type="text" data-convert="2" class="form-control to">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">8进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="8" class="form-control to">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">10进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="10" class="form-control to">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">16进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="16" class="form-control to">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">26进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="26" class="form-control to">
            </div>
            <div class="col-md-2">
                小写字母
            </div>
        </div>
        {#<div class="form-group">
            <label  class="col-md-1 control-label">32进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="32" class="form-control to">
            </div>
            <div class="col-md-2">
                不包含 ILOU 字符
            </div>
        </div>#}
        <div class="form-group">
            <label  class="col-md-1 control-label">36进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="36" class="form-control to">
            </div>
            <div class="col-md-2">
                数字 + 小写字母
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-1 control-label">52进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="52" class="form-control to">
            </div>
            <div class="col-md-2">
                大写字母 + 小写字母
            </div>
        </div>
        {#<div class="form-group">
            <label class="col-md-1 control-label">58进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="2" class="form-control to">
            </div>
            <div class="col-md-2">
                不包含 0OlI 字符
            </div>
        </div>#}
        <div class="form-group">
            <label class="col-md-1 control-label">62进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="62" class="form-control to">
            </div>
            <div class="col-md-2">
                数字 + 小写字母 + 大写字母
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">64进制</label>
            <div class="col-md-2">
                <input type="text" data-convert="64" class="form-control to">
            </div>
            <div class="col-md-2">
                base64字符
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">
                <select class="selectpicker form-control input-group-btn" id="to">
                    {% for x in 2..64 %}
                        <option value="{{ x }}" >{{ x }}进制</option>
                    {% endfor %}
                </select>
            </label>
            <div class="col-md-2">
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">

        $('[name=from_covert]').click(function (e) {
            $('.selectpicker').selectpicker('val',$(this).val());
        })
        var a = 2323;
        a.toString()
        $('#convert-btn').click(function (e) {
            var num = bases.fromBase($('#number').val(), $('#from').val());
            $('.to').each(function (i, n) {
                var convert = parseInt($(n).data('convert'), 10);
                if (convert) {
                    $(n).val(bases.toBase(num, convert))
                }
            })
            $('#to').parents('div.form-group').find('input').val(bases.toBase(num, $('#to').val()));
            e.preventDefault();
            return false;
        })
    </script>
{% endblock %}