{% extends "layout.twig" %}

{% block container %}
    <div class="row">
        <h3 class="page-header">{{ current_menu[1] }}</h3>
        <div class="alert alert-danger">
            <b>本站免费提供身份证号码信息查询和全国各地身份证号码生成功能，身份证号码由系统随机生成，可供初级身份证号码验证，游戏防沉迷注册，或者测试娱乐使用，请勿用于非法用途！！！</b>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="idcard">输入身份证号码：</label>
                        <input type="email" class="form-control" id="idcard" placeholder="身份证号码">
                    </div>
                    <button type="submit" id="idcard_verify" class="btn btn-primary">校验</button>
                    <span class="form-inline" style="color: red;" id="error"></span>
                </form>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="well" id="ic-info">
                    <p id="ic">身份证号码：<span></span></p>
                    <p id="zone">地区：<span></span></p>
                    <p id="bothday">生日：<span></span></p>
                    <p id="sex">性别：<span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="page-header">随机批量生成有效身份证号码</h3>
        <div class="alert alert-danger">
            <b>免责声明：下面提供的身份证号码及相关信息由系统随机组合而成，不会涉及任何隐私泄密问题，也并非现实生活中真实的身份证号码，仅供大家研究身份证号码使用，切勿用于注册网站等任何其他用途。若因使用这些身份证号码而产生任何问题和纠纷，本网站不承担任何直接或间接的责任！</b>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" id="gen-form">
                    <div class="form-group">
                        <label>地区：</label>
                        <select class="select-picker"  name="zone"></select>
                    </div>

                    <div class="form-group">
                        <label>出生日期：</label>
                        <div class="input-group">
                            <input type="text" class="form-control bothday" name="bothday" placeholder="选择日期" readonly>
                            <span class="input-group-addon remove-btn"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>性别：</label>
                        <select class="selectpicker sex" name="sex">
                            <option value="0">不限</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>数量：</label>
                        <select class="selectpicker number" name="number">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <button type="submit" id="gen-bth" class="btn btn-primary">批量生成身份证号码</button>
                </form>
            </div>
            <hr>
            <div class="col-md-12">
                <div class="well" id="ic-list">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>身份证号码</td>
                            <td>地区</td>
                            <td>生日</td>
                            <td>性别</td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.select-picker').selectpicker({
                liveSearch: true
            })
            .ajaxSelectPicker({
                ajax: {
                    url: '/api/ic/zone',
                    type: 'get',
                    dataType: 'json',
                    data: function () {
                        var params = {
                            kw: this.plugin.query
                        };
                        return params;
                    }
                },
                locale: {
                    emptyTitle: '搜索地区',
                    statusSearching : '输入搜索关键词...'
                },
                preprocessData: function(data){
                    var data = data.data;
                    var zones = [];
                    var len = data.length;
                    if(len > 0){
                        for(var i = 0; i < len; i++){
                            var curr = data[i];
                            zones.push(
                                {
                                    'value': curr.code,
                                    'text': curr.zone + '(' + curr.code+')',
                                    'disabled': false
                                }
                            );
                        }
                    }
                    console.log(zones);
                    return zones;
                },
                preserveSelected: false,
                requestDelay : 600,
                minLength : 2
            });

        $('#idcard_verify').click(function (e) {
            var error = function (msg) {
                $('#error').text(msg);
            }
            var idcard = $('#idcard').val();
            if (!utils.isIC(idcard)) {
                error('错误的身份证号码！');
            } else {
                error('');
                $.get('/api/ic/parse', {ic: idcard}, function (res) {
                    if (res.errCode == 0) {
                        console.log(res);
                        $.each(res.data, function (k, v) {
                            $('#' + k).find('span').text(v);
                        })
                    } else {
                        error('错误的身份证号码');
                    }
                }, 'json')
            }
            return false;
        });
        $('#gen-bth').click(function () {
            $.get('/api/ic/gen', $('#gen-form').serialize(), function (res) {
                if (res.errCode == 0) {
                    console.log(res);
                    var html = '';
                    $.each(res.data, function (k, v) {
                        html += '<tr> <td>' + v.ic + '</td><td>' + v.zone + '</td> <td>' + v.bothday + '</td> <td>' + v.sex + '</td> </tr>'
                    })
                    $('#ic-list').find('tbody').html(html);
                } else {
                    swal(res.errMsg);
                }
            }, 'json');
            return false;
        })

        /*$('#gen-form .zone').autocomplete({
            items: 20,
            minLength: 2,
            source: function (query, process) {
                $.get("/api/ic/zone", {"kw": $('#gen-form .zone').val()}, function (respData) {
                    return process(respData.data);
                });
            },
            formatItem: function (item) {
                return item["zone"] + "(" + item["code"] + ")";
            },
            setValue: function (item) {
                $('#gen-form .zone').val(item["code"]);
                return {'data-value': item["zone"], 'real-value': item["code"]};
            },
            //delay : 800
        });*/

        $('.bothday').datetimepicker({
            language: 'zh-CN',
            format: 'yyyymmdd',
            weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#gen-form .remove-btn').click(function () {
            $('#gen-form .bothday').val('');
        });
    </script>
{% endblock %}