{% extends "layout.twig" %}

{% block container %}
    <div class="row">
        <div class="row">
            <h3 class="page-header">{{ current_menu[1] }}</h3>
            {#<p class="lead">
                Json代码进行美化、格式化、检查Json错误。
                也可以进行Json代码压缩处理,提供Json Unicode转换为对应字符！！将json \uxxxx类，格式化相应的中文字符串！Json
            </p>#}
        </div>

        <div class="row">
            <div class="col-md-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="ic">输入身份证号码：</label>
                        <input type="email" class="form-control" id="idcard" placeholder="身份证号码">
                    </div>
                    <button type="submit" id="idcard_verify" class="btn btn-info">校验</button>
                </form>
            </div>
            <div class="col-md-8">
                <span class="label label-warning" id="error"></span>
                <span id="ic"></span>
                <span id="zone"></span>
                <span id="bothday"></span>
                <span id="sex"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <h3>随机生成有效身份证号码</h3>
            <button type="submit" id="idcard_gen" class="btn btn-info">批量生成身份证号码</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#idcard_verify').click(function (e) {
            var idcard = $('#idcard').val();
            if (!utils.isIC(idcard)) {
                $('#error').text('错误的身份证号码！');
            } else {
                $('#error').text('');
                $.get('/api/idcard', {ic:idcard}, function (res) {
                    if (res.errCode == 0) {
                        console.log(res);
                        $.each(res.data, function (k, v) {
                            $('#'+k).text(v);
                        })
                    } else {
                        $('#error').text('错误的身份证号码');
                    }
                }, 'json')
            }
            return false;
        });
        $('#idcard_gen').click(function () {
            $.get('/api/genicard?number=10', function (res) {

            }, 'json');
        })
    </script>
{% endblock %}