{% extends "layout.twig" %}

{% block container %}
    <h3 class="page-header">生成随机字符串密码</h3>

    {#<blockquote>
        <p>Json代码进行美化、格式化、检查Json错误。 也可以进行Json代码压缩处理,提供Json Unicode转换为对应字符！！将json \uxxxx类，格式化相应的中文字符串！Json</p>
    </blockquote>#}
    <div class="well">
        请选择以下选项生成随机字符串密码
    </div>
    <p class="text-muted">
    <form class="form-inline">
        <div class="form-group">
            <label for="num">密码长度：</label>
            <input type="text" class="form-control" id="number" value="16">
        </div>
        <div class="form-group">
            <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox" id="special_check">
                          <label for="special_check">特殊字符</label>
                      </span>
                <input type="text" class="form-control" aria-label="..." id="special" value="!@#$%^&*()_+=-" readonly>
            </div>
        </div>
        {{ Bootstrap.button({'id':'submit', 'data-obj':'#result_textarea'}, '生成密码')|raw }}
    </form>
    </p>
    <p class="text-muted">
        格式化化之后的JSON代码：
        {{ Bootstrap.iconBtn('copy', {'data-obj':'#result_textarea'})|raw }}
        {{ Bootstrap.iconBtn('remove', {'data-obj':'#result_textarea'})|raw }}
    </p>
    {{  Bootstrap.textarea('result_textarea')|raw }}



{% endblock %}

{% block script %}
    <script type="text/javascript">
        var special_str = '!@#$%^&*()_+=-'

        $('#submit').click(function () {
            var obj = $(this).data('obj');
            if (!obj) {
                console.log('remove operation obj error', obj);
                return false;
            }
            var number = _.parseInt($('#number').val()) || 16;
            var has = $('#special_check').prop('checked');
            var special = $('#special').val() || special_str;
            $(obj).val(genRandStr(number, has, special));
            return false;
        })

        $('#special_check').change(function () {
            if($(this).prop('checked')) {
                $('#special').prop('readonly', false);
            } else {
                $('#special').prop('readonly', true);
            }
        });
    </script>
{% endblock %}