{% extends "layout.twig" %}

{% block css %}
    <style type="text/css">
        .input-group-addon:hover {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block container %}
    <h3 class="page-header">{{ current_menu[1] }}</h3>
    <blockquote>
        【Unix时间】
    </blockquote>

    <form class="form-inline">
        <div class="form-group">
            <label>现在的当地时间为：</label>
            <input type="text" class="form-control" id="local-time" readonly>
        </div>
        <button class="btn btn-primary" id="stop-btn">暂停</button>
    </form>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label>现在的Unix时间戳：</label>
            <input type="text" class="form-control" id="timestamp" readonly>
        </div>
    </form>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label>其他时区当前时间：</label>
            <select class="selectpicker" id="timezone">
                {% for k,name in timezone %}
                <option value="{{ k }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="text" class="form-control" id="zone-time" readonly>
    </form>


    <br/>
    <blockquote>
        【Unix时间戳】 → 【当地时间】
    </blockquote>

    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Unix时间戳(秒)">
        <button class="btn btn-primary trans-btn" data-type=0>转换</button>
        <input type="text" class="form-control" placeholder="当地时间" readonly>
        {#<div class="input-group">
            <input type="text" class="form-control" placeholder="Unix时间戳(秒)" readonly>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
            </span>
        </div>#}
    </form>

    <br/>
    <blockquote>
        【当地时间】 → 【Unix时间戳】
    </blockquote>

    <form class="form-inline">
        <input type="text" class="form-control" placeholder="yyyy-mmm-dd hh:ii:ss">
        <button class="btn btn-primary trans-btn" data-type=1>转换</button>
        <input type="text" class="form-control" placeholder="Unix时间戳(秒)" readonly>
        {#<div class="input-group">
            <input type="text" class="form-control" placeholder="Unix时间戳(秒)" readonly>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
            </span>
        </div>#}
    </form>

{% endblock %}

{% block script %}
    <script>
        console.log($('#timezone').val());
        function utime() {
            $('#local-time').val(utils.getFmtDateTime());
            $('#timestamp').val(utils.getTimestamp());
            $('#zone-time').val(utils.getZoneTime(parseInt($('#timezone').val())));
        }
        var utp = setInterval(utime, 1000);
        $('#stop-btn').click(function () {
            if (utp) {
                clearInterval(utp);
                utp = null;
                $(this).text('开始');
            } else {
                utp = setInterval(utime, 1000);
                $(this).text('暂停');
            }
            return false;
        })
        $('.trans-btn').click(function () {
            var type = $(this).data('type');
            var val = $(this).prev().val();
            var obj = $(this).next();
            if (!type) {
                obj.val(utils.getFmtDateTime(parseInt(val)*1000));
            } else {
                obj.val(utils.getTimestamp(val));
            }
            return false;
        })
    </script>
{% endblock %}