{% extends "layout.twig" %}

{% block css %}
    <style type="text/css">
        .input-group-addon:hover {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block container %}
    <h3 class="page-header">{{ current_menu[1] }}</h3>
    <div class="alert alert-info" role="alert">
        UNIX时间戳（UNIX Time Stamp）为世界协调时间（Coordinated Universal Time，即UTC）1970年01月01日00时00分00秒到现在的总秒数，与时区无关。
        <br/>
        以下UNIX时间戳都是基于浏览器时间！！！
    </div>
    <blockquote>
        【Unix时间】
    </blockquote>

    <form class="form-inline">
        <div class="form-group">
            <label>现在的当地时间为：</label>
            <input type="text" class="form-control" id="local-time" readonly>
        </div>
        <button class="btn btn-primary" id="stop-btn">暂停</button>
    </form>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label>现在的Unix时间戳：</label>
            <input type="text" class="form-control" id="timestamp" readonly>
        </div>
    </form>
    <br/>
    <form class="form-inline">
        <div class="form-group">
            <label>其他时区当前时间：</label>
            <select class="selectpicker" id="timezone">
                {% for k,name in timezone %}
                    <option value="{{ k }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="text" class="form-control" id="zone-time" readonly>
    </form>


    <br/>
    <blockquote>
        【Unix时间戳】 → 【当地时间】
    </blockquote>

    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Unix时间戳(秒|毫秒(13位数字))">
        <button class="btn btn-primary trans-btn" data-type=0>转换</button>
        <input type="text" class="form-control" placeholder="当地时间" readonly>
        {#<div class="input-group">
            <input type="text" class="form-control" placeholder="Unix时间戳(秒)" readonly>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-copy"></span>
            </span>
        </div>#}
    </form>

    <br/>
    <blockquote>
        【当地时间】 → 【Unix时间戳】
    </blockquote>

    <form class="form-inline">
        {#<input type="text" class="form-control" placeholder="yyyy-mm-dd hh:ii:ss">#}
        {#<div class="input-group">
            <input type="text" class="form-control" id="date-time" placeholder="yyyy-mm-dd hh:ii:ss">
            <span class="input-group-addon time-btn">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>#}

        <div class="input-group">
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control"  placeholder="yyyy-mm-dd hh:ii:ss"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time">
                    </span>
                </span>
            </div>
        </div>

        <button class="btn btn-primary trans-btn" data-type=1>转换</button>
        <input type="text" class="form-control" placeholder="Unix时间戳(秒)" readonly>
    </form>

{% endblock %}

{% block script %}
    <script>

        $('#datetimepicker').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: 1,
            todayHighlight: 1,
            forceParse: 1
        });

        /*$('.time-btn').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 1,
            //minView: 5,
            forceParse: 0
        }).on('changeDate', function (dateText, inst) {
            $('#date-time').val(utils.getFmtDateTime(dateText.date));
        });*/

        function utime() {
            $('#local-time').val(utils.getFmtDateTime());
            $('#timestamp').val(utils.getTimestamp());
            $('#zone-time').val(utils.getZoneTime(parseInt($('#timezone').val())));
        }

        utime();
        var utp = setInterval(utime, 1000);
        $('#stop-btn').click(function () {
            if (utp) {
                clearInterval(utp);
                utp = null;
                $(this).text('开始');
            } else {
                utp = setInterval(utime, 1000);
                $(this).text('暂停');
            }
            return false;
        })
        $('.trans-btn').click(function () {
            var type = $(this).data('type');
            var obj = $(this).next();
            if (!type) {
                var val = parseInt($(this).prev().val());
                if (val.toString().length == 13) {
                    obj.val(utils.getFmtDateTime(val, 1));
                } else {
                    obj.val(utils.getFmtDateTime(val * 1000));
                }
            } else {
                var val = $('#datetimepicker').find('input').val();
                obj.val(utils.getTimestamp(val));
            }
            return false;
        })
    </script>
{% endblock %}