{% extends "layout.twig" %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            {{ Bootstrap.button({'id':'copy_md'}, '复制MD内容')|raw }}
            {{ Bootstrap.button({'id':'copl_h5'}, '复制HTML内容')|raw }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="md-edit" style="margin-top: 10px;">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var editor = initEditorMd('md-edit');
        /*$('#copy_md').zclip({
            path: "/statics/zclip/ZeroClipboard.swf",
            copy: function(){return editor.getMarkdown();},
            afterCopy: function () { swal_osc("复制成功！");} /!* 复制成功后的操作 *!/
        });
        $('#copl_h5').zclip({
            path: "/statics/zclip/ZeroClipboard.swf",
            copy: function(){return editor.getHTML();},
            afterCopy: function () { swal_osc("复制成功！"); } /!* 复制成功后的操作 *!/
        });*/

        var copy_md = new ClipboardJS('#copy_md', {
            text: function(trigger) {
                return editor.getMarkdown();
            }
        }).on('success', function (e) {
            swal_osc("复制成功！");
            e.clearSelection();
        })

        var copl_h5 = new ClipboardJS('#copl_h5', {
            text: function(trigger) {
                return editor.getHTML();
            },
        }).on('success', function (e) {
            swal_osc("复制成功！");
            e.clearSelection();
        })
    </script>
{% endblock %}