{% extends "layout.twig" %}

{% block container %}
    <span class="glyphicon glyphicon-fullscreen" id="fullscreen"></span>
    <span class="glyphicon glyphicon-remove" id="close-fullscreen"></span>
    <h3 class="page-header">在线Json格式化、在线格式化Json代码、Json代码美化器、Json在线压缩</h3>
    <div class="well">
        Json代码进行美化、格式化、检查Json错误。 也可以进行Json代码压缩处理,提供Json Unicode转换为对应字符！！将json \uxxxx类，格式化相应的中文字符串！Json
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                <select class="selectpicker" id="tabsize">
                    <option value=0>Tab符缩进</option>
                    <option value="2">2个空格缩进</option>
                    <option value="4" selected="selected">4个空格缩进</option>
                    <option value="8">8个空格缩进</option>
                </select>
                <button class="btn btn-primary" id="beautiful-btn">格式化</button>
                <button class="btn btn-primary" id="compress-btn">压缩</button>
                <button class="btn btn-primary btn-copy" data-obj="#origin_textarea">复制</button>
                <button class="btn btn-info" id="view-btn">右侧展示节点</button>
            </p>
            {{ Bootstrap.textarea('origin_textarea', 16, test)|raw }}
        </div>

        <div class="col-md-6">
            <p>
                <select class="selectpicker" id="toggle-number">
                    <option value="0">全部节点</option>
                    <option value="1">第1个节点</option>
                    <option value="2">第2个节点</option>
                    <option value="3">第3个节点</option>
                    <option value="4">第4个节点</option>
                    <option value="5">第5个节点</option>
                </select>
                <button class="btn btn-primary view-action-btn" data-act="collapse">关闭</button>
                <button class="btn btn-primary view-action-btn" data-act="expand">展开</button>
            </p>
            <div class="well code-break" id="json-view"></div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script type="text/javascript">
        var getJsonStr = function () {
            var jsonStr = $('#origin_textarea').val();
            if (!jsonStr) {
                return false;
            }
            if (!jsonStr || !utils.isJsonFormat(jsonStr)) {
                swal('你输入的json对象语法不正确！');
                return false;
            }
            return jsonStr;
        }
        function jsonView() {
            var json = getJsonStr();
            if (!json) {return false}
            $("#json-view").JSONView(json);
        }
        $('#view-btn').click(function () {
            jsonView();
        });
        if ($('#origin_textarea').val()) {
            jsonView();
        }

        $('#beautiful-btn').click(function () {
            var json = getJsonStr();
            if (!json) {return false}
            var tabsize = parseInt($('#tabsize').val());
            var res = JSON.stringify(JSON.parse(json), null, tabsize == 0 ? "\t" : tabsize);
            $('#origin_textarea').val(res);
        })
        $('#compress-btn').click(function () {
            var json = getJsonStr();
            if (!json) {return false}
            var res = JSON.stringify(JSON.parse(json));
            $('#origin_textarea').val(res);
        })

        $('.view-action-btn').on('click', function() {
            var node = parseInt($('#toggle-number').val());
            var act = $(this).data('act');
            if (!node) {
                $('#json-view').JSONView(act);
            } else {
                $('#json-view').JSONView(act, node);
            }
        });

    </script>
{% endblock %}
