{% extends "layout.twig" %}

{% block container %}
    <div class="row">
        <iframe src="/statics/html/jquery_manual/index.htm" width="100%" height="100%" style="border:0; height:2000px" class="col-xs-12"></iframe>
    </div>
{% endblock %}